#main-layout {
    -fx-background-color: #FFFFFF;
}

#prompt-label {
    -fx-font-family: "Arial";
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

#header-label {
    -fx-font-family: "Arial";
    -fx-font-size: 17;
    -fx-font-weight: normal;
}

#value-label {
    -fx-font-family: "Arial";
    -fx-font-size: 17;
    -fx-font-weight: normal;
    -fx-text-fill: #228B22
}

#grid-label {
    -fx-min-width: 90;
    -fx-min-height: 90;
    -fx-background-color: #00FF00;
    -fx-alignment: center;
    -fx-font-family: "Arial";
    -fx-font-size: 30;
    -fx-font-weight: normal;
}

.text-field {
    -fx-min-width: 290px;
    -fx-min-height: 35px;
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-font-weight: 400;
}

.button {
    -fx-background-color: #00FFFF;
    -fx-text-fill: #2c3e50;
    -fx-font-family: "Arial";
    -fx-font-weight: 600;
}

.button:hover {
    -fx-cursor: hand;
    -fx-background-color: #00CED1;
}

#btn {
    -fx-min-width: 90px;
    -fx-min-height: 35px;
    -fx-font-size: 16px;
}

#view-path-btn {
    -fx-max-width: 90px;
    -fx-max-height: 35px;
    -fx-font-size: 14px;
}

.combo-box {
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-min-width: 210px;
    -fx-min-height: 30px;
}
